html {
 background:url(images/bg.jpg) repeat;
}

body {
 padding:0;
 font-family: Helvetica;
 font-size:12px;
 margin:0px auto auto auto;
 color:#FFFFFF;
}

#main_container{
 width:960px;
 height:auto;
 margin:auto;
 padding:0px;
}

#header{
 width:1024px;
 height:174px;
 margin:auto;
 background:url(images/header_bg.png) no-repeat center;
}

#logo{
 padding:35px 0 0 15px;
 float:left;
}

#menu_tab{
 width:960px;
 height:0px;
 clear:both;
 padding:2px 0 0 0;
}

ul.menu {
 list-style-type:none; display:block; width: auto; 
 margin: auto; padding:0px 70px 0 150px;
}

ul.menu li {
 display:inline;
 line-height:32px;
}
ul.menu li a{
 color:#0090A1;
 font-size:14px;
 font-weight:bold;
 float:left;
 display:block;
 height:32px;
 text-decoration:none;
 padding:0 42px 0 0;
 margin:0 32px 0 0;
}
ul.menu li a:hover{
 color:#00FFAA;
}

#footer{
  width:1024px;
  height:87px;
  clear:both;
  padding:0 0 20px 0;
  background:url(images/footer_bg.png) no-repeat center
}
